body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url(bannere.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-item:hover {
    text-decoration: line-through;
}

.info {
    color: rgb(58, 58, 58);
}

img {
    margin-right: 10px;
}

.digart figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.digart figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.lamaws p h1 {
    background-color: white;
}

footer p {
    background-color: black;
    color: white;
}

img {
    position: relative;
    z-index: 1;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

@media screen and (max-width: 600px) {
    .namae {
        margin-right: 50px;
    }

    .container {
        text-align: center;
    }
}